<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="base::head">
    <meta charset="UTF-8" />
    <title>Experience</title>

        <title>Work Experience Form</title>
    </head>
<body>

<div class="container">
    <nav th:replace="base::nav"></nav>


            <h3>Work Experience</h3>
            <form th:action="@{/experience}" th:object="${experience}" method="post">
                <div class="col-xs-4">
                    <input type="text" name="title" th:field="*{title}" class="form-control" id="tittle" placeholder="Title" />
                </div>
                <div class="col-xs-4">
                    <input type="text" name="company" th:field="*{companyName}" class="form-control" id="company" placeholder="company Name" />
                </div>
                <div class="col-xs-4">

                    <input type="text" th:field="*{location}" class="form-control" id="location" placeholder="Location" />
                </div>
                <div class="col-xs-4">

                    <input type="text" th:field="*{from}" class="form-control" id="from" placeholder="From" />
                </div>
                <div class="col-xs-4">

                    <input type="text" th:field="*{to}" class="form-control" id="to" placeholder="To"/>
                </div>
                <div class="col-xs-4">

                    <input type="text" th:field="*{description}" class="form-control" id="description" placeholder="description" />
                </div>

                <button type="submit" class="btn btn-default">Add Experience</button>
            </form>
            <div class="col-xs-4">
                <form action="/skills">
                    <button type="submit" class="btn btn-default">Goto Skill</button>
                </form>
            </div>

            <div class="col-xs-4">
                <form action="/">
                    <button type="submit" class="btn btn-default">Goto home</button>
                </form>
            </div>
    </div>
</body>
</html>




